
html{
    height: 100%;
}

body{
    background: url(https://images.unsplash.com/photo-1602524206684-fdf6393c7d89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: cover;
    background-position: center
    font-family: 'Catamaran', sans-serif;
}

.white{
     color:#fff;   
}
.green{
     color:darkgreen;   
}

.center{
    text-align: center;
    padding-top: 10%;
}

.navbar-default .navbar-brand{
    color: black;
}

#login{
    min-width: 250px;
    background-color: rgba(255,255,255,0.7);
    padding: 5px 25px;
}

#login .social-button{    margin: 2px 0px;
}

#login .btn-fb{
    color: #fff;
    background-color: #3b599d;
    margin-left: 0px;
}

#login .btn-tw{
    color: #fff;
    background-color: #55acee;
    margin-right: 0px;
    
}

