

.black{
    background-color: black;
    height: 100px;
}

.red{
    background-color: red;
    height: 100px;
}

.pink{
    background-color: hotpink;
    height: 100px;
   
}

.blue{
    background-color: blue;
    
}
#viollet{
    background-color: violet;
}

.box {
  margin: 0 auto;
  background-color: aquamarine;
  width: 400px; 
  height: 400px;
  padding: 80px;
  box-sizing: border-box;
}